@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#contenedor {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#figura {
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
    height: 500px;
}